$sky-light-grey: #ededed;
$sky-black: #000000;
$sky-white: #f4f5fa;
$sky-text-grey: rgba(0, 0, 0, 0.6);
$sky-orange: #ff9e00;
$sky-red: #ff0000;
$sky-purple: #b5007d;
$sky-blue: #000ff5;
$sky-azure: #0097f5;
$sky-gradient: -webkit-linear-gradient(
  left,
  #ff7800,
  #f80032,
  #ff00a0,
  #8c28ff,
  #0023ff,
  #1798ff
);
